# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Secrets & Credentials
firebase-key.json
*.json.key
service-account*.json
credentials*.json
build/
*.egg

# Django
*.log
*.pot
*.pyc
db.sqlite3
staticfiles/
media/

# Environment
.env
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
